   <style>
@media (min-width: 997px){#h1 { 
    text-align: center;
    font-size:50px
    margin-top: 400px;
   margin-bottom:0px;
     padding: 0px
    }
}
    @media (min-width:768px){#h1 { 
    text-align: center;
    font-size:50px
    margin-top: 400px;
   margin-bottom: 0px;
     padding: 0px
  }}
    @media (min-width: 767px){#h1 { 
      text-align: center;
    font-size:50px
    margin-top: 400px;
   margin-bottom: 0px;
   padding: 0px
    }}
  .Space{
    width: 100%;
    margin-top: 0px;
 

    } 
    .cornor {
    position: relative;
    left:25% ;
    text-align: center;
    font-size: 20px;
} 
   
  /********** desktop **********/
 @media (min-width: 997px) {
    *{height: 75%;
     }
     .Dbox1, .Dbox2 ,.Dbox3 {
float: left;
box-sizing:border-box;
width: 100%;

margin-left: 2%;
border-style: solid;
border-width: 5px;
box-sizing:border-box;
background-color:gray;  }
 .Dbox1 {
 width: 29.3%;

}
.Dbox2{
 width: 29.3%;

}
.Dbox3{
width: 29.3%;

}


}
@media (min-width: 997px) 
      #h2-1{width:25%;
        height:15%;
        border:0px 0px 2px 2px solid;
        background-color:#ff0000;
        border-color: black;
        color: white;
        padding: 0px;
        margin: 0px;
      }
      #h2-2{width:25%;
        height:15%;
        border:0px 0px 2px 2px solid;
        border-color: black;
        background-color:#3cb371;
        color: black;
        padding: 0px;
        margin: 0px;
      }
     #h2-3{width:25%;
        height:15%;
        border:0px 0px 2px 2px solid;
        background-color:#ffa500;
        color: black;
        border-color: black;
        padding: 0px;
        margin: 0px;
      }

@media (min-width: 997px) {#p{ padding :10px;}}

/********** taplet **********/
 @media (min-width: 768px) {*{height: 75%;
     }
   .Tbox1, .Tbox2 ,.Tbox3 {
float: left;
box-sizing:border-box;
width: 100%;

margin-left:2%;
border-style: solid;

border-width: 5px;

background-color:gray; }

.Tbox1 {
 width: 29.3%;

}
.Tbox2{
 width: 29.3%;

}
.Tbox3{
 width: 29.3%;

}}
@media (min-width: 768px) {
      #h2-1{width:25%;
        height:15%;
        border:0px 0px 2px 2px solid;
        border-width: 2px;
        background-color:#ff0000;
        border-color: black;
        color: white;
        padding: 0px;
        margin: 0px;
      }
      #h2-2{width:25%;
        height:15%;
        border:0px 0px 2px 2px solid;
        background-color:#3cb371;
        border-color: black;
        color: black;
        padding: 0px;
        margin: 0px;
      }
     #h2-3{width:25%;
        height:15%;
        border:0px 0px 2px 2px solid;
        border-width: 2px;
        background-color:#ffa500;
        border-color: black;
        color: black;
        padding: 0px;
        margin: 0px;
      }
@media (min-width: 768px) {#p{ padding: 10px;}}


/********** mobile **********/
 @media (max-width: 767px) {
  *{height: 75%;}
  
   .Mbox1, .Mbox2 ,.Mbox3 {

float: left;
box-sizing:border-box;
width: 100%;
margin-left :2%;
border-style: solid;
border-width: 5px;
box-sizing:border-box;
background-color:gray; 
}
 .Mbox1 {
 width: 29.3%;

}
.Mbox2{
 width: 29.3%;

}
.Mbox3{
 width: 29.3%;

}
}
@media (max-width: 767px) {
      #h2-1{width:25%;
        height:15%;
         border:0px 0px 2px 2px solid;
        background-color:#ff0000;
        border-color: black;
        color: white;
        padding: 0px;
        margin: 0px;
 }
      #h2-2{width:25%;
        height:15%;
        border:0px 0px 2px 2px solid;
        background-color:#3cb371;
        border-color: black;
        color: black;
        padding: 0px;
        margin: 0px;
      }
     #h2-3{width:25%;
        height:15%;
        border:0px 0px 2px 2px solid;
        border-color: black;
        background-color:#ffa500;
        color: black;
        padding: 0px;
        margin: 0px;
      }
    }@media (max-width:767px) {#p{ padding :10px;}}
   
</style>
