 


body {
  
}
#menu{
	overflow: hidden;
	border-left-style: none;
	border-right-style: none;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: black;
	border-width: 5px;
	background-color:gray;
	

}
.navbar-brand >a{/**menu title**/
  padding-top: 15px;
  font-size: 35px;
  color: black;
  font-style: bold;
  font-family: 'Lora', serif;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
  font-size: 1.8em;
}
#nav-list a:hover {
  background: #E7E7E7;

}
.icon-bar{font:black; }
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;}
.raw{
	width: 100%; 
}
.raw > div{
	background: gray;
 	
 		margin-bottom: 5px; 
 	margin-top: 5px; 
}
h1{
	font-style: bold;
font-family: 'Lora', serif;}

 h2{text-align: center;
	font-style: bold;
	font-family: 'Lora', serif;}

@media (max-width: @screen-xs-max) { 
 .col-xs-12{
 	background: gray;
 	border-style: solid;
 	border-width: 5px;
 	height: 1000px;
 	width: 90%;
 


 }



 }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { 

	.col-sm-12{
 	background: gray;
 	border-style: solid;
 	border-width: 5px;
 	height: 1000px;
 	width: 90%;
 	 

 }
 }

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	.col-md-12{
 	background: gray;
 	border-style: solid;
 	border-width: 5px;
 	height: 1000px;
	width: 90%;
	 
 }
  }
